@import "~bootstrap/dist/css/bootstrap.min.css";
@import "partials/header";
@import "partials/jumbotronMain";

//
.img-card{
  width: 150px;
  img{
    width: 100%;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 1/1;
    
  }
}